<footer *ngIf="isLogon || async">
  <br>
  <div class="container">
    <a class="logo-font" routerLink="/">Tutor B00king</a>
    <span class="attribution">
      &copy; {{ today | date: 'yyyy' }}.
      Educational B00king System.
      Source Code licensed under MIT.
    </span>
  </div>
</footer>