<br>
<h1 class="text-center">Add Tutor</h1>
<div class="container">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form #addTutorsForm="ngForm" (ngSubmit)="onSaveTutor()" novalidate>

      <label for="name">Tutor Name:</label>
      <div class="form-group row">
        <input id="name" #name="ngModel" name="name" type="text" [(ngModel)]="model.name" placeholder="NAME" class="form-control"
          [ngClass]="{'has-error': name.errors}" required/>
      </div>

      <label for="location">Tutor Location:</label>
      <div class="form-group row">
        <input id="location" #location="ngModel" name="location" type="text" [(ngModel)]="model.location" placeholder="location"
          class="form-control" [ngClass]="{'has-error': location.errors}" required/>
      </div>

      <label for="subject">Tutor Subject:</label>
      <div class="form-group row">
        <input id="subject" #subject="ngModel" name="subject" type="text" [(ngModel)]="model.subject" placeholder="subject" class="form-control"
          [ngClass]="{'has-error': subject.errors}" required/>
      </div>

      <label for="review">Tutor Review (1-5):</label>
      <div class="form-group row">
        <input id="review" #review="ngModel" name="review" type="number" [(ngModel)]="model.review" placeholder="review" class="form-control"
          [ngClass]="{'has-error': review.errors}" required/>
      </div>

      <label for="price_per_hour">Tutor cost per hour:</label>
      <div class="form-group row">
        <input id="price_per_hour" #price_per_hour="ngModel" name="price_per_hour" type="number" [(ngModel)]="model.price_per_hour"
          placeholder="price_per_hour" class="form-control" [ngClass]="{'has-error': price_per_hour.errors}" required/>
      </div>

      <label for="student_count">Amount of Students Per Tutor</label>
      <div class="form-group row">
        <input id="student_count" #student_count="ngModel" name="student_count" type="number" [(ngModel)]="model.student_count" placeholder="student_count"
          class="form-control" [ngClass]="{'has-error': student_count.errors}" required/>
      </div>

      <button type="submit" id="saveTutorBtn" [disabled]="!addTutorsForm.form.valid" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>