<header class="masthead text-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="text_shadow">Tuitor and Student Meeting Application</div>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
            </div>
            <div class="col-12 col-md-3">
              <button type="submit" class="btn btn-block btn-lg btn-primary" routerLink="/register">
                Sign up!
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>