header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("/assets/images/class.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 16rem;
    padding-bottom: 16rem;
}
  
header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}
  
header.masthead h1 {
    font-size: 2rem;
}

nav {
    background-color: #55b7fd;
}

.text_shadow {
    font-size: 50px;
    color: #000000;
    text-shadow: 3px 3px 1px rgb(163,163,163);
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffffa2;
    border-radius: 64px;
    margin-bottom: 32px;
   }