<br>
<h1 class="text-center">Search Tutors</h1>
<div class="container">
  <div class="jumbotron">
    <form #searchTutorsForm="ngForm" (ngSubmit)="onSearch()" novalidate class="row">
      <div class="input-group col-lg-8">
        <select class="form-control col-3" #searchType="ngModel" id="searchType" [(ngModel)]="model.searchType" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let type of searchTypes" [ngValue]="type.value">{{type.desc}}</option>
        </select>
        <input id="keyword" #keyword="ngModel" name="keyword" type="text" [(ngModel)]="model.keyword" placeholder="tutor Title , Author"
          class="form-control" #title="ngModel" [ngClass]="{'has-error': keyword.errors}" pattern="[a-zA-Z][a-zA-Z ]+" required/>
      </div>
      <div class="col-lg-2">
        <button type="submit" id="searchBtn" [disabled]="!searchTutorsForm.form.valid" class="btn btn-primary" id="search">Search</button>
      </div>
    </form>
  </div>
  <div *ngIf="(result)?.length > 0" class="row">
    <div class="col-xs-12 col-12 col-md-6">
      <pagination class="pagination-sm" [boundaryLinks]="true" [rotate]="false" [totalItems]="totalItems" [(ngModel)]="currentPage"
        [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" (pageChanged)="pageChanged($event)" (numPages)="numPages = $event">
      </pagination>
    </div>
  </div>
  <pre *ngIf="(result)?.length > 0" class="card card-block card-header">Page: {{currentPage}} / {{numPages}}</pre>
  <hr>
  <table *ngIf="(result)?.length > 0" class="table">
    <thead>
      <tr>
        <th>#ID</th>
        <th>Tutor Name:</th>
        <th>Tutor Location:</th>
        <th>Tutor Subject:</th>
        <th>Tutor Review (1-5):</th>
        <th>Tutor Hourly Charges:</th>
        <th>Students Per Tutor:</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tutor of result; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{tutor.name | uppercase}}</td>
        <td>{{tutor.location | uppercase}}</td>
        <td>{{tutor.subject | uppercase}}</td>
        <td>{{tutor.review}}</td>
        <td>{{tutor.price_per_hour}}</td>
        <td>{{tutor.student_count}}</td>
        <td>
          <button class="btn btn-primary" title="edit tutor" (click)="edit(tutor, template, i)">
            <i class="fas fa-edit" aria-hidden="true"></i>
          </button>
          <button class="btn btn-danger" title="delete tutor" (click)="delete(tutor, template2, i)">
            <i class="fas fa-trash-alt" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="(result)?.length==0">
    <p class="font-weight-bold">No Tutors found.</p>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Tutor</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <br>
    <div class="container">
      <form #editTutorsForm="ngForm" (ngSubmit)="onSaveEditTutor()" novalidate>

        <label for="name">Tutor Name:</label>
        <div class="form-group row">
          <input id="name" #name="ngModel" name="name" type="text" [(ngModel)]="editTutor.name" placeholder="NAME" class="form-control"
            [ngClass]="{'has-error': name.errors}" required/>
        </div>

        <label for="location">Tutor Location:</label>
        <div class="form-group row">
          <input id="location" #location="ngModel" name="location" type="text" [(ngModel)]="editTutor.location" placeholder="location"
            class="form-control" [ngClass]="{'has-error': location.errors}" required/>
        </div>

        <label for="subject">Tutor Subject:</label>
        <div class="form-group row">
          <input id="subject" #subject="ngModel" name="subject" type="text" [(ngModel)]="editTutor.subject" placeholder="subject" class="form-control"
            [ngClass]="{'has-error': subject.errors}" required/>
        </div>

        <label for="review">Tutor Review (1-5):</label>
        <div class="form-group row">
          <input id="review" #review="ngModel" name="review" type="number" [(ngModel)]="editTutor.review" placeholder="review" class="form-control"
            [ngClass]="{'has-error': review.errors}" required/>
        </div>

        <label for="price_per_hour">Tutor cost per hour:</label>
        <div class="form-group row">
          <input id="price_per_hour" #price_per_hour="ngModel" name="price_per_hour" type="number" [(ngModel)]="editTutor.price_per_hour"
            placeholder="price_per_hour" class="form-control" [ngClass]="{'has-error': price_per_hour.errors}" required/>
        </div>

        <label for="student_count">Amount of Students Per Tutor</label>
        <div class="form-group row">
          <input id="student_count" #student_count="ngModel" name="student_count" type="number" [(ngModel)]="editTutor.student_count" placeholder="student_count"
            class="form-control" [ngClass]="{'has-error': student_count.errors}" required/>
        </div>

        <button type="submit" id="editTutorBtn" [disabled]="!editTutorsForm.form.valid" class="btn btn-primary">Save</button>
      </form>

    </div>
  </div>
</ng-template>


<ng-template #template2>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete Tutor ?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <br>
    <div class="container">

      <form #delTutorForm="ngForm" (ngSubmit)="onDelTutor()" novalidate>
        <div class="form-group row">
          <label for="TutorTitle" class="font-weight-bold">Tutor Title &nbsp;</label>
          {{editTutor.Tutor_title}}
        </div>

        <div class="form-group row">
          <label for="firstName" class="font-weight-bold">First Name &nbsp;</label>
          {{editTutor.author_firstname}}
        </div>

        <div class="form-group row">
          <label for="lastName" class="font-weight-bold">Last Name&nbsp;</label>
          {{editTutor.author_lastname}}
        </div>

        <div class="form-group row">
          <label for="imageUrl" class="font-weight-bold">Image URL&nbsp;</label>
          {{editTutor.imageUrl}}
        </div>
        <button type="submit" id="deleteTutorBtn" class="btn btn-primary">Yes</button>
      </form>

    </div>
  </div>
</ng-template>